@{
    ViewBag.Title = "Contact";
}
<title>Contact</title>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<style>
	.User {
		display: inline-block;
	}
</style>
<div class="row" style="text-align:center">
	<div class="col-lg-4 User">
		<img class="img-circle" src="~/Resources/thor.jpg" alt="Generic placeholder image" width="140" height="140" style="display:block; margin:auto">
		<h3 style="text-align:center">Alexander Janson</h3>
		<p>Graphical Developer</p>
		<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->

	<div class="col-lg-4 User">
		<img class="img-circle" src="~/Resources/thor.jpg" alt="Generic placeholder image" width="140" height="140" style="display:block; margin:auto">
		<h3 style="text-align:center">Enrique </h3>
		<p>Models, Animations and Art</p>
		<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->

	<div class="col-lg-4 User">
		<img class="img-circle" src="~/Resources/thor.jpg" alt="Generic placeholder image" width="140" height="140" style="display:block; margin:auto">
		<h3 style="text-align:center">Per Jaakonantti</h3>
		<p>Models, Animations and Art</p>
		<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
	
	<div class="col-lg-4 User">
		<img class="img-circle" src="~/Resources/thor.jpg" alt="Generic placeholder image" width="140" height="140" style="display:block; margin:auto">
		<h3 style="text-align:center">Simon Rangesand</h3>
		<p>Hardware Developer</p>
		<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->

	<div class="col-lg-4 User">
		<img class="img-circle" src="~/Resources/thor.jpg" alt="Generic placeholder image" width="140" height="140" style="display:block; margin:auto">
		<h3 style="text-align:center">Tor Dagsson Sundman</h3>
		<p>Project Leader</p>
		<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->

	<div class="col-lg-4 User">
		<img class="img-circle" src="~/Resources/thor.jpg" alt="Generic placeholder image" width="140" height="140" style="display:block; margin:auto">
		<h3 style="text-align:center">Victor Kesten</h3>
		<p>Network "GURU"</p>
		<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->

</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
